
<nav id="nav-header" class="nav-header">
  <div id="container" class="nav-header__container" [ngClass]="{'light-mode': lightMode, 'nav-header__container--expanded': crossActive}">
    <div id="divName" class="nav-header__container__div-name">
      <div id="svg-container" class="nav-header__container__div-name__svg-container">
        <div  (click)="backHome()" class="nav-header__container__div-name__svg-container__backHome"></div>
        <object id="objectSVG" #objectSVG type="image/svg+xml" data="./../assets/images/logoAnimado.svg" width="450"></object>
      </div>
    </div>
    <div id="bars" class="nav-header__container__bars">
      <img (click)="pressBars()" src="./../assets/images/barras.svg" />
    </div>
    <div id="cross" class="nav-header__container__cross">
      <img (click)="pressCross()" src="./../assets/images/icons8-close.svg" />
    </div>
    <div class="list nav-header__container__list">
      <div id="list-container" class="nav-header__container__list__container" [ngClass]="{'nav-header__container__list__container--expanded': crossActive, 'nav-header__container__list--visible': crossActive}">
        <div class="nav-header__container__list__container__item listas">
          <div class="nav-header__container__list__container__item__bar nav-header__container__list__container__item__bar--left barra1"></div>
          <a routerLink="/aboutUs" class="nav-header__container__list__container__item__link link">Nosotros</a>
          <div class="nav-header__container__list__container__item__bar nav-header__container__list__container__item__bar--right barra2"></div>
        </div>
        <div class="nav-header__container__list__container__item listas">
          <div class="nav-header__container__list__container__item__bar nav-header__container__list__container__item__bar--left barra1"></div>
          <a routerLink="/properties" class="nav-header__container__list__container__item__link link">Anuncios</a>
          <div class="nav-header__container__list__container__item__bar nav-header__container__list__container__item__bar--right barra2"></div>
        </div>
        <div class="nav-header__container__list__container__item listas">
          <div class="nav-header__container__list__container__item__bar nav-header__container__list__container__item__bar--left barra1"></div>
          <a routerLink="/blog" class="nav-header__container__list__container__item__link link">Blog</a>
          <div class="nav-header__container__list__container__item__bar nav-header__container__list__container__item__bar--right barra2"></div>
        </div>
        <div class="nav-header__container__list__container__item listas">
          <div class="nav-header__container__list__container__item__bar nav-header__container__list__container__item__bar--left barra1"></div>
          <a routerLink="/contact" class="nav-header__container__list__container__item__link link">Contacto</a>
          <div class="nav-header__container__list__container__item__bar nav-header__container__list__container__item__bar--right barra2"></div>
        </div>
        <div *ngIf="(isAuthenticated$ | async)" style="color: #090B0F; font-size: 1.5em;">Hola, {{userName}}</div>
        <div class="dropdown nav-header__container__list__container__item__dropdown">
          <button class="dropdown-button">
            <object id="profile" type="image/svg+xml" data="./../assets/images/user.svg" width="80"></object>
          </button>
          <ul *ngIf="!(isAuthenticated$ | async)" class="dropdown-content">
            <li><a routerLink="/auth/login"><i class="fas fa-user-circle mr-2 text-lg"></i>Iniciar sesión</a></li>
            <li><a routerLink="/auth/register"><i class="far fa-user mr-2 text-lg"></i>Crear cuenta</a></li>
          </ul>
          <ul *ngIf="(isAuthenticated$ | async)" class="dropdown-content">
            <li><a routerLink="/auth/profile"><i class="fas fa-user-circle mr-2 text-lg"></i>Perfil</a></li>
            <li><a routerLink="/auth/favorites"><i class="fas fa-solid fa-heart mr-2 text-lg"></i>Favoritos</a></li>
            <li><a (click)="logout()"><i class="fas fa-sign-out-alt mr-2 text-lg"></i>Cerrar sesión</a></li>
          </ul>
        </div>
        <button (click)="toggleLightMode()">
          <img id="moon" #moon src="./../assets/images/dark-mode.svg" width="30">
          <img id="sun" #sun src="./../assets/images/light-mode.svg" width="30">
        </button>
      </div>
    </div>
  </div>
</nav>
