
<!------- aquí ira el header ----------------->

<div class="nosotros">
<h1 class="nosotros__title">Sobre Nosotros</h1>

<div class="">
<!-- dos columnas, una foto y un párrafo -->
<div class="nosotros__content">
  <div class="nosotros__column">
    <img src="../../assets/images/nosotros.webp" alt="Imagen">
  </div>
  <div class="nosotros__column">
    <p>25 Años de experiencia</p>
      <p>Somos una inmobiliaria de lujo con una pasión por conectar a las personas con las propiedades de sus sueños. Con una experiencia de más de 20 años en el mercado inmobiliario de lujo, nos enorgullece ofrecer un servicio excepcional y una atención personalizada a cada uno de nuestros clientes.</p>
      <p>En nuestra inmobiliaria, nos esforzamos por superar las expectativas de nuestros clientes y ofrecer un servicio de primera clase. Nuestro equipo de expertos en bienes raíces está comprometido a brindar un servicio excepcional y una atención personalizada a cada uno de nuestros clientes.</p>
      <p>Nuestro equipo de expertos tiene un profundo conocimiento del mercado inmobiliario y se dedica a entender y satisfacer las necesidades individuales de cada cliente. Ya sea que estés buscando comprar, vender o alquilar una propiedad de lujo, estamos aquí para ayudarte en cada paso del camino.</p>

  </div>
</div>


<h2 class="nosotros__title">Más sobre nosotros</h2>

<!-- tres columnas -->

</div>
 <!----------- aquí irá el footer ----------------->
