$primary: #ffffff;
$secondary: #333333;
$icons: #E08709;
$buttons: #C77808;
$color_1: white;
$color_1-1: rgb(43, 43, 43);
$color_2: #71b100;
$color_3: #fff;
$color_4: rgb(177, 177, 177);
$background-color_1: #202020;
$background-color_1-1: #1d1d1d;
$background-footer:#1a1a1a;
$background-color_2: white;
$background-color_3: rgb(177, 177, 177);
$background-color_4: #333333;
$background-color_4-1: #333333af;
$background-color_5: #c77808;
$background-color_6: #1a1a1a60;
$background-color_7: rgb(0 0 0 / 51%);
$background-color_8: #71b100;
$background-color_9: #7b7b7b;
$nivel-de-oscuridad: 0.5;