@import 'fonts';

.footer {
  &__nav {
    background-color: $background-color_1;
    transition: background-color 1s;
  }

  &__nav-content {
    display: flex;
    align-items: center;
    height: 15vh;
  }

  &__social-networks {
    display: block;
    text-align: center;
    align-items: center;
    height: auto;
    width: 10%;
    padding: 1vh;

    &__icon {
      width: 30px;
      height: 30px;
    }
  }

  &__links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 7.5vh;
    padding: 1vh;
    width: 40%;

    a {
      color: $color_1;
      text-decoration: none;
      font-family: "Overpass", sans-serif;
    }
  }

  &__name {
    text-align: center;
    width: 50%;

    p {
      color: $color_1;
      font-family: $font-family_1;
      font-size: 25px;
    }
  }

  &--light-mode {
    background-color: #666666dc;
    transition: 1s;
  }
}
