<section class="bg-white dark:bg-gray-900">
  <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
    <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">¿Quieres que te contactemos?</h2>
    <p class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl">Déjanos tus datos y nos pondremos en contacto contigo en la mayor brevedad.</p>
    <form [formGroup]="contactForm" (ngSubmit)="sendForm()" class="space-y-8">
      <div class="mb-6 text-red-500">
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Nombre y apellidos</label>
        <input type="text" id="name" formControlName="name" class="shadow-sm bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-800 dark:border-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Escriba su nombre" required>
        <div *ngIf="contactForm.get('name')?.invalid && (contactForm.get('name')?.dirty || contactForm.get('name')?.touched)">
            <div *ngIf="contactForm.get('name')?.errors?.['required']">El nombre es requerido</div>
        </div>
      </div>
      <div class="mb-6 text-red-500">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Dirección de correo electrónico</label>
        <input type="email" id="email" formControlName="email" class="shadow-sm bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-800 dark:border-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="nombre@correo.com" required>
        <div *ngIf="contactForm.get('email')?.invalid && (contactForm.get('email')?.dirty || contactForm.get('email')?.touched)">
          <div *ngIf="contactForm.get('email')?.errors?.['required']">El correo electrónico es requerido </div>
          <div *ngIf="contactForm.get('email')?.errors?.['pattern']">El correo electrónico debe tener un formato válido</div>
        </div>

      </div>
      <div class="mb-6 text-red-500">
        <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Teléfono</label>
        <input type="text" id="phone" formControlName="phone" class="shadow-sm bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-800 dark:border-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Formatos permitidos: XXXXXXXXX - +XX XXXXXXXXX" required>
        <div *ngIf="contactForm.get('phone')?.invalid && (contactForm.get('phone')?.dirty || contactForm.get('phone')?.touched)">
          <div *ngIf="contactForm.get('phone')?.errors?.['required']">El teléfono es requerido</div>
          <div *ngIf="contactForm.get('phone')?.errors?.['pattern']">El formato del teléfono no es correcto</div>
        </div>
      </div>
      <div class="mb-6 text-red-500">
        <label for="comment" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Comentario</label>
        <textarea id="comment" formControlName="comment" rows="6" class="shadow-sm bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-800 dark:border-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Escriba aquí algún comentario, si lo desea."></textarea>
        <div *ngIf="contactForm.get('comment')?.invalid && (contactForm.get('comment')?.dirty || contactForm.get('comment')?.touched)">
          <div *ngIf="contactForm.get('comment')?.errors?.['required']"> El comentario es requerido </div>
          <div *ngIf="contactForm.get('comment')?.errors?.['minlength']">El comentario debe tener al menos 10 caracteres.</div>
          <div *ngIf="contactForm.get('comment')?.errors?.['maxlength']">El comentario es demasiado largo. Debe tener máxmo 1000 caracteres.</div>
      </div>
      </div>
      <button type="submit" class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-gray-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Enviar</button>
    </form>
  </div>
</section>
