<section class="bg-white dark:bg-gray-900">
  <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
    <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">¿Quieres que te contactemos?</h2>
    <p class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl">Déjanos tus datos y nos pondremos en contacto contigo en la mayor brevedad.</p>
    <form [formGroup]="contactForm" (ngSubmit)="sendForm()" class="space-y-8">
      <div class="mb-6 text-red-500">
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Nombre y apellidos</label>
        <input type="text" id="name" formControlName="name" class="shadow-sm bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-800 dark:border-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Escriba su nombre" required>
        <div *ngIf="contactForm.get('name')?.invalid && (contactForm.get('name')?.dirty || contactForm.get('name')?.touched)">
            <div *ngIf="contactForm.get('name')?.errors?.['required']">El nombre es requerido</div>
        </div>
      </div>
      <div class="mb-6 text-red-500">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Dirección de correo electrónico</label>
        <input type="email" id="email" formControlName="email" class="shadow-sm bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-800 dark:border-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="nombre@correo.com" required>
        <div *ngIf="contactForm.get('email')?.invalid && (contactForm.get('email')?.dirty || contactForm.get('email')?.touched)">
          <div *ngIf="contactForm.get('email')?.errors?.['required']">El correo electrónico es requerido </div>
          <div *ngIf="contactForm.get('email')?.errors?.['pattern']">El correo electrónico debe tener un formato válido</div>
        </div>

      </div>
      <div class="mb-6 text-red-500">
        <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Teléfono</label>
        <input type="text" id="phone" formControlName="phone" class="shadow-sm bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-800 dark:border-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Inserta tu número de teléfono" required>
        <div *ngIf="contactForm.get('phone')?.invalid && (contactForm.get('phone')?.dirty || contactForm.get('phone')?.touched)">
          <div *ngIf="contactForm.get('phone')?.errors?.['required']">El teléfono es requerido</div>
          <div *ngIf="contactForm.get('phone')?.errors?.['pattern']">El formato del teléfono no es correcto</div>
        </div>
      </div>
      <div class="mb-6 text-red-500">
        <label for="comment" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Comentario</label>
        <textarea id="comment" formControlName="comment" rows="6" class="shadow-sm bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-800 dark:border-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Escriba aquí algún comentario, si lo desea."></textarea>
        <div *ngIf="contactForm.get('comment')?.invalid && (contactForm.get('comment')?.dirty || contactForm.get('comment')?.touched)">
          <div *ngIf="contactForm.get('comment')?.errors?.['required']"> El comentario es requerido </div>
          <div *ngIf="contactForm.get('comment')?.errors?.['minlength']">El comentario debe tener al menos 10 caracteres.</div>
          <div *ngIf="contactForm.get('comment')?.errors?.['maxlength']">El comentario es demasiado largo. Debe tener máxmo 1000 caracteres.</div>
      </div>
      </div>
      <button [disabled]="!contactForm.valid"
      type="submit"
      class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-gray-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
      Enviar</button>

    </form>
  </div>
</section>


<!-- fallo  -->
<ng-template #failForm>
  <!-- Global notification live region, render this permanently at the end of the document -->
  <div aria-live="assertive" class="pointer-events-none fixed inset-0 flex items-end px-4 py-6 sm:items-start sm:p-6">
    <div class="flex w-full flex-col items-center space-y-4 sm:items-end">
      <!--
        Notification panel, dynamically insert this into the live region when it needs to be displayed

        Entering: "transform ease-out duration-300 transition"
          From: "translate-y-2 opacity-0 sm:translate-y-0 sm:translate-x-2"
          To: "translate-y-0 opacity-100 sm:translate-x-0"
        Leaving: "transition ease-in duration-100"
          From: "opacity-100"
          To: "opacity-0"
      -->
      <div class="pointer-events-auto w-full max-w-sm overflow-hidden rounded-lg bg-white shadow-lg ring-1 ring-black ring-opacity-6">
        <div class="p-4">
          <div class="flex items-start">
            <div class="flex-shrink-0">
              <svg class="h-6 w-6 text-red-500" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </div>
            <div class="ml-3 w-0 flex-1 pt-0.5">
              <p class="text-sm font-medium text-gray-900">¡Tú mensaje no ha podido ser enviado!</p>
              <p class="mt-1 text-sm text-gray-500">Inténtalo de nuevo en unos momentos por favor</p>
            </div>
            <div class="ml-4 flex flex-shrink-0">
              <button type="button"
              (click)="dialog.closeAll()"
              routerLink="/home"
              class="inline-flex rounded-md bg-white text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                <span class="sr-only">Close</span>
                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </ng-template>


<!-- exitoso -->
  <ng-template #successForm>
  <!-- Global notification live region, render this permanently at the end of the document -->
  <div aria-live="assertive" class="pointer-events-none fixed inset-0 flex items-end px-4 py-6 sm:items-start sm:p-6">
    <div class="flex w-full flex-col items-center space-y-4 sm:items-end">
      <!--
        Notification panel, dynamically insert this into the live region when it needs to be displayed

        Entering: "transform ease-out duration-300 transition"
          From: "translate-y-2 opacity-0 sm:translate-y-0 sm:translate-x-2"
          To: "translate-y-0 opacity-100 sm:translate-x-0"
        Leaving: "transition ease-in duration-100"
          From: "opacity-100"
          To: "opacity-0"
      -->
      <div class="pointer-events-auto w-full max-w-sm overflow-hidden rounded-lg bg-white shadow-lg ring-1 ring-black ring-opacity-6">
        <div class="p-4">
          <div class="flex items-start">
            <div class="flex-shrink-0">
              <svg class="h-6 w-6 text-green-400" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </div>
            <div class="ml-3 w-0 flex-1 pt-0.5">
              <p class="text-sm font-medium text-gray-900">¡Tú mensaje ha sido enviado con éxito!</p>
              <p class="mt-1 text-sm text-gray-500">Nos pondremos en contacto contigo en breve</p>
            </div>
            <div class="ml-4 flex flex-shrink-0">
              <button type="button"
              (click)="dialog.closeAll()"
              routerLink="/home"
              class="inline-flex rounded-md bg-white text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                <span class="sr-only">Close</span>
                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </ng-template>
