<footer class="footer">
  <nav class="footer__nav footer__nav-content" [ngClass]="{'footer--light-mode': lightMode}">
    <div class="footer__social-networks">
      <div>
        <a href="">
          <img class="footer__social-networks__icon" src="./../assets/images/ig.svg" alt="instagram" />
        </a>
      </div>
      <div>
        <a href="">
          <img class="footer__social-networks__icon" src="./../assets/images/tw.svg" alt="twitter" />
        </a>
      </div>
      <div>
        <a href="">
          <img class="footer__social-networks__icon" src="./../assets/images/in.svg" alt="linkedin" />
        </a>
      </div>
    </div>

    <div class="footer__links">
      <div><a [ngClass]="{'footer__link--light-title': lightMode}" href="#">Inicio</a></div>
      <div><a [ngClass]="{'footer__link--light-title': lightMode}" href="#">Acerca de</a></div>
      <div><a [ngClass]="{'footer__link--light-title': lightMode}" i18n="@@contactoLink" href="#" >Contacto</a></div>
    </div>

    <div class="footer__name">
      <p [ngClass]="{'footer__name--light-title': lightMode}">© 2024 <strong> HABITATLUXE </strong>&nbsp;&nbsp;&nbsp;<span class="dancing-script">"Encuentra tu espacio ideal"</span></p>
    </div>
  </nav>
</footer>

