
<!-- TODO: MODIFICAR, SÓLO PARA PRUEBAS. -->
<footer class="p-10 mt-20 bg-gray-800 text-white">
  <nav class="flex justify-around mb-4">
    <a routerLink="./properties" class="hover:text-gray-500">Anuncios</a>
    <a routerLink="./blog" class="hover:text-gray-500">Blog</a>
    <a routerLink="./Nosotros" class="hover:text-gray-500">Nosotros</a>
    <a routerLink="./Contacto" class="hover:text-gray-500">Contacto</a>
  </nav>

  <div class="text-center">Habitat Luxe "Encuentra tu espacio ideal"</div>
</footer>
